<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id%>">
    <%= merchant.name %>
    <%= merchant.status %>
    <% if merchant.status == "enabled" %>
      <%= button_to "disable", "/admin/merchants/#{merchant.id}", method: :patch %>
    <% else %>
      <%= button_to "enable", "/admin/merchants/#{merchant.id}", method: :patch %>
    <% end %>
  </div>
<% end %>
