<h1>User <%= @user.id %>'s Profile</h1>

Name: <%= @user.name %><br>
Address: <%= @user.address %><br>
City: <%= @user.city %><br>
State: <%= @user.state %><br>
Zip: <%= @user.zip %><br>
Email: <%= @user.email %><br>
