<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home Page", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <% if current_merchant? %>
        <%= link_to "Log out", '/logout' %>
        <%= link_to "My Profile", '/profile' %>
        <%= link_to "Dashboard", '/merchant/dashboard' %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      <% elsif current_admin? %>
        <%= link_to "Log out", '/logout' %>
        <%= link_to "My Profile", '/profile' %>
        <%= link_to "Dashboard", '/admin/dashboard' %>
        <%= link_to "All Users", '/admin/users' %>
      <% elsif current_user? %>
        <%= link_to "Log out", '/logout' %>
        <%= link_to "My Profile", '/profile' %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "My Orders", "/profile/orders" %>
      <% else %>
        <%= link_to "Log in", "/login" %>
        <%= link_to "Register", '/register' %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
